# Defaults
node_modules
.DS_Store
dist
dist-ssr
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.production
backend/.env

# Lock files (optional, but good to keep if not using yarn/pnpm exclusively)
# package-lock.json
# yarn.lock
